/.classpath
/.project
/API/
/CO.BAT
/G1.BAT
/G2.BAT
/HTML_SECTEUR1.BAT
/HTML_SECTEUR2.BAT
/I1.BAT
/IMAGE_G1.BAT
/IMAGE_G2.BAT
/IMAGE_SECTEUR1.BAT
/IMAGE_SECTEUR2.BAT
/LICENCE.TXT
/LOCALHOST/
/M.BAT
/O2.BAT
/README.TXT
/README.md
/TEMP.TXT
/URL_utiles
/Univers/
/Z.BAT
/zIgzAg/
